<h3>Sales by Region: Category </h3>
@page "/saleslinechart"
@using Superstore.Helpers.Contants
@using Superstore.Models
@using Superstore.Services;
@using Superstore.ViewModels.Charts
@using Syncfusion.Blazor.Data;
@using Syncfusion.Blazor;
@using System.Collections;
@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Charts;
@using Syncfusion.Blazor.DropDowns
@inject ICsvDataService csvDataService;
<PageTitle>Sales - Composite</PageTitle>
<div class="container">
    <SfChart Title="Olympic Medals1">
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
        <ChartTooltipSettings Enable="true" Header="Sales" Format="<b>${series.name} : ${point.y}</b>"></ChartTooltipSettings>
        <ChartSeriesCollection>
            @foreach (var series in SeriesCollection)
            {
                <ChartSeries Name=@series.RegionName XName=@series.XName YName=@series.YName DataSource=@series.Data Type="ChartSeriesType.Line">
                    <ChartMarker Visible="true" Height="10" Width="10" />
                </ChartSeries>
            }
        </ChartSeriesCollection>
    </SfChart>
</div>

@code {
    List<SeriesData> SeriesCollection = new();
    RegionSalesByCategoryByTimeCategoryViewModel Vm;
    public IEnumerable<StandardLookup> Seasons = new List<StandardLookup>();
    public bool ShowSelectAllCheckBox { get; set; } = true;

    protected async override void OnInitialized()
    {
        await base.OnInitializedAsync();
        Seasons = await csvDataService.GetStandardLookups(StandardLookupFields.Season, new CancellationToken());
        Vm = await csvDataService.RegionSalesByCategoryByTimeCategoryViewModel(new CancellationToken());
        SeriesCollection = Vm.SeriesCollection;
        StateHasChanged();
    }
}